@use "@sass-palette/hope-config";

html {
  @media (min-width: hope-config.$laptop) {
    --content-width: calc(100vw - 18rem);
  }

  @media (min-width: hope-config.$pc) {
    --content-width: calc(100vw - 40rem) !important;
  }
}

.vp-hero-title {
  background: transparent;
  background-clip: unset;
  color: var(--vp-c-accent);
  -webkit-text-fill-color: initial;
}
